* {
    box-sizing: border-box;
}

:root {
    --mainFontSize: 1.6vw;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
    font-size: var(--mainFontSize);
    padding: 1.6vw;
}

.mainMenu {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.6vw 2vw;
    background-color: white;
    border-radius: 2vw;
}

.mainMenu a {
    color: #222;
    text-decoration: none;
    transition: color ease 0.4s;
}

.mainMenu a.active,
.mainMenu a.active:hover {
    color: cornflowerblue;
}

.mainMenu a:hover {
    color: #777;
    text-decoration: underline;
}